/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body {
    font-family: sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

section {
    margin-top: 30px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}
